/* Error: expected more input.
 *   ,
 * 4 |         'typography.scss',
 *   |                           ^
 *   '
 *   scss/base/_index.scss 4:27  @import
 *   scss/styles.scss 3:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected more input.\a   \2577 \a 4 \2502          'typography.scss',\a   \2502                            ^\a   \2575 \a   scss/base/_index.scss 4:27  @import\a   scss/styles.scss 3:9        root stylesheet";
}
