// Variables

$white: #fff;

// Base styles
$font-stack-primary: 'Lato', sans-serif;
$text-color: #777;
$max-width: 1400px;

// Typography
$headline-primary: #58e1c1;
$headline-secondary: #777;
$link-color: #51ddfc;
$font-bold: 700;

// Grid System layout and breakpoints

$breakpoints: (
 'lg': 992px,
);

$col-1-bg: #927bc1;
$col-2-bg: #fd7856;
$col-3-bg: #deb2ee;
$col-4-bg: #7ee6fd;
$col-5-bg: #88d9a0;
$col-6-bg: #4da2bb;
$col-7-bg: #ec9fa3;
$col-8-bg: #fd9f85;
$col-9-bg: #e4757a;
$col-10-bg: #63cc82;
$col-11-bg: #51ddfc;
$col-12-bg: #80e8d1;

// Buttons
$default-bg-color: #51ddfc;
$error-bg-color: #e4757a;
$info-bg-color: #927bc1;
$success-bg-color: #63cc82;
$warning-bg-color: #fd7856;



